:root {
  --accent-text: #0092CA;
  --primary-menu-background: #52616B;
  --secondary-menu-text: #F0F5F9;
  --secondary-menu-background: rgba(0, 0, 0, 0.8);
  --body-text: #1E2022;
  --body-background: #F0F5F9;
  --button-text: #C9D6Df;
  --button-background: #1E2022;
  --cool-red: #E9290F;
  --cool-green: #28a745;
  --footer-hover-text: rgba(233, 41, 15, .9);
}

.container-fluid {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom-color: var(--cool-green);
  box-shadow: 0px 2px 4px 0px var(--cool-green);
}